<?xml version="1.0"?>
<config>
	<modules>
		<Salore_Mssql>
			<version>1.0.0</version>
		</Salore_Mssql>
	</modules>
	<global>
		<models>
			<sbmssql>
				<class>Salore_Mssql_Model</class>
				<resourceModel>sbmssql_resource</resourceModel>
			</sbmssql>
			<sbmssql_resource>
				<class>Salore_Mssql_Model_Resource</class>
				<deprecatedNode>sbmssql_mysql4</deprecatedNode>
			</sbmssql_resource>
		</models>
		<resources>
			<sbmssql_setup>
				<connection>
					<host><![CDATA[192.168.1.211]]></host>
					<dbname><![CDATA[Sage]]></dbname>
					<username><![CDATA[sa]]></username>
					<password><![CDATA[qaz123456]]></password>
					<type><![CDATA[sbmssql]]></type>
					<active>1</active>
				</connection>
			</sbmssql_setup>
			<sbmssql_read>
				<connection>
					<use>sbmssql_setup</use>
				</connection>
			</sbmssql_read>
			<sbmssql_write>
				<connection>
					<use>sbmssql_setup</use>
				</connection>
			</sbmssql_write>
		</resources>
		<resource>
			<connection>
				<types>
					<sbmssql>
						<adapter>Salore_Mssql_Adapter_Sqlsrv</adapter>
					</sbmssql>
				</types>
			</connection>
		</resource>
		<blocks>
			<sbmssql>
				<class>Salore_Mssql_Block</class>
			</sbmssql>
		</blocks>
		<helpers>
			<sbmssql>
				<class>Salore_Mssql_Helper</class>
			</sbmssql>
		</helpers>
	</global>
</config>