<?xml version="1.0"?>
<config>
	<modules>
		<Salore_Sqlsrv>
			<version>1.0.0</version>
		</Salore_Sqlsrv>
	</modules>
	<global>
		<models>
			<sbsqlsrv>
				<class>Salore_Sqlsrv_Model</class>
				<resourceModel>sbsqlsrv_resource</resourceModel>
			</sbsqlsrv>
			<sbsqlsrv_resource>
				<class>Salore_Sqlsrv_Model_Resource</class>
				<deprecatedNode>sbsqlsrv_mysql4</deprecatedNode>
			</sbsqlsrv_resource>
		</models>
		<resources>
			<sbsqlsrv_setup>
				<connection>
					<host><![CDATA[DELL-PC]]></host>
					<dbname><![CDATA[test]]></dbname>
					<username><![CDATA[sa]]></username>
					<password><![CDATA[qaz123456]]></password>
					<type><![CDATA[sbsqlsrv]]></type>
					<active>1</active>
				</connection>
			</sbsqlsrv_setup>
			<sbsqlsrv_read>
				<connection>
					<use>sbsqlsrv_setup</use>
				</connection>
			</sbsqlsrv_read>
			<sbsqlsrv_write>
				<connection>
					<use>sbsqlsrv_setup</use>
				</connection>
			</sbsqlsrv_write>
		</resources>
		<resource>
			<connection>
				<types>
					<sbsqlsrv>
						<adapter>Salore_Sqlsrv_Adapter_Sqlsrv</adapter>
					</sbsqlsrv>
				</types>
			</connection>
		</resource>
		<blocks>
			<sbsqlsrv>
				<class>Salore_Sqlsrv_Block</class>
			</sbsqlsrv>
		</blocks>
		<helpers>
			<sbsqlsrv>
				<class>Salore_Sqlsrv_Helper</class>
			</sbsqlsrv>
		</helpers>
	</global>
</config>