<?xml version="1.0"?>
<config>
	<modules>
		<Salore_Mssql>
			<version>1.0.0</version>
		</Salore_Mssql>
	</modules>
	<adminhtml>
        <menu>
            <sbmssql>
                <title>Salore Mssql </title>
                <sort_order>71</sort_order>               
                <children>
                    <sbmssql module="sbmssql">
                         <title>Mssql Setting</title>
                         <sort_order>1</sort_order>
                         <action>adminhtml/system_config/edit/section/sbmssql</action>
                    </sbmssql>      
                </children>
            </sbmssql>
        </menu>        
    </adminhtml> 
	<global>
		<models>
			<sbmssql>
				<class>Salore_Mssql_Model</class>
				<resourceModel>sbmssql_resource</resourceModel>
			</sbmssql>
			<sbmssql_resource>
				<class>Salore_Mssql_Model_Resource</class>
				<deprecatedNode>sbmssql_mysql4</deprecatedNode>
			</sbmssql_resource>
		</models>
		<resources>
			<sbmssql_setup>
				<connection>
					<host><![CDATA[localhost]]></host>
					<dbname><![CDATA[dbname]]></dbname>
					<username><![CDATA[user]]></username>
					<password><![CDATA[password]]></password>
					<port><![CDATA[port]]></port>
					<type><![CDATA[sbmssql]]></type>
					<pdoType><![CDATA[dblib]]></pdoType>
					<active>1</active>
				</connection>
			</sbmssql_setup>
			<sbmssql_read>
				<connection>
					<use>sbmssql_setup</use>
				</connection>
			</sbmssql_read>
			<sbmssql_write>
				<connection>
					<use>sbmssql_setup</use>
				</connection>
			</sbmssql_write>
		</resources>
		<resource>
			<connection>
				<types>
					<sbmssql>
						<adapter>Salore_Mssql_Adapter_Mssql</adapter>
					</sbmssql>
				</types>
			</connection>
		</resource>
		<blocks>
			<sbmssql>
				<class>Salore_Mssql_Block</class>
			</sbmssql>
		</blocks>
		<helpers>
			<sbmssql>
				<class>Salore_Mssql_Helper</class>
			</sbmssql>
		</helpers>
	</global>
	<default>
        <sbmssql>
            <setting>
                <dbname>dbname</dbname>
                <password>qaz123456</password>
                <username>username</username>
                <host>localhost</host>
                 <port>1433</port>
            </setting>
        </sbmssql>
    </default>
</config>